<!doctype html>
<html>
<head>

    <link rel="stylesheet" href="/css/deposit.css">

    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/deposit.js"></script>
    

    <link rel="stylesheet" href="/css/bootstrap.css">
    
    
</head>
<body>

    {{> navigationbar }}

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <center><h2 id="inventory-title">Inventory</h2></center>
                <hr>                
                <div class="inventory-container row">

                    {{#each items}}
                    <div class="item-container col-lg-3" data-itemid="{{this.info.id}}" data-price="{{this.price}}">
                        <center><img src="https://steamcommunity.com/economy/image/{{this.info.icon_url}}" class="item-icon"></center>
                        <hr class="img-seperator">
                        <span class="item-name">{{this.info.market_hash_name}}</span><br class="name-price-seperator">                                                
                        <span class="item-price">Value: {{this.price}}$</span>
                    </div>
                    {{/each}}
                    
                </div>

                <center><button class="btn btn-lg btn-success" id="depositButton">Deposit: 0$</button></center>
        
            </div>


        </div>

    </div>

</body>
</html>
