<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Profile</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="/js/jquery.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/css/profile.css">

</head>
<body>
    
    {{> navigationbar }}

    <h1 id="title">Profile</h1>

    <div id="user-info-container">
        <img alt="user image" id="profile-image" src="https://66.media.tumblr.com/4e21bd4ab89adb28fb5007ce6966b81b/tumblr_p14agkHN211tu5h6io1_400.jpg">

        <p id="username" class="info-label">{{profile.name}}</p>
        <p id="steamid" class="info-label">{{profile.steamid}}</p>

        <p id="balance" class="info-label">{{getBalance user}}</p>

    </div>

    <h2 class="section-title">Inventory</h2>

    <div id="inventory-container">

        <ul id="item-list">
            {{#each inventory}}
            <li class="item">
                <img class="item-image" alt="item-image" src="{{this.image}}">
                
                <center><p class="item-name">{{this.name}}</p></center>
                <center><p class="item-price">{{this.price}}</p></center>
            </li>
            {{/each}}
        </ul>

    </div>

    <h2 class="section-title">History</h2>

    <div id="history-container">

        <ul id="history-list">

            <li class="history">

                <img alt="case-image" class="history-image" src="https://csgobros.com/wp-content/uploads/2017/12/csgo-case-opening-se.png">
                <p class="history-name history-label">AK-Tempered</p>
                
                <p class="history-date history-label">2019-09-09</p>
                <p class="history-price history-label">100$</p>

                <p class="history-won history-label">Face Mask Tempered</p>

            </li>
            <li class="history">

                <img alt="case-image" class="history-image" src="https://csgobros.com/wp-content/uploads/2017/12/csgo-case-opening-se.png">
                <p class="history-name history-label">AK-Tempered</p>
                
                <p class="history-date history-label">2019-09-10</p>
                <p class="history-price history-label">100$</p>

                <p class="history-won history-label">Face Mask Tempered</p>

            </li>
        </ul>

    </div>


</body>
</html>